.DashHome{
    margin: 0;
    display: block;
    background-color: #f2f2f2;
    height: auto;
}
.HeaderParent{
    background-image: linear-gradient(97deg,#ff7a6e,#ff9770);
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1), 0 6px 6px 0 rgba(0,0,0,.2);
    height: 60px;
    min-width: 1200px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeaderChild{
    height: 100%;
    width: 80%;
    min-width: 1000px;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
}
.Child1{
    width: 20%;
    display: flex;
    align-items: center;
}
.Header_title{
    font-weight: 700;  
    font-family: Open Sans,sans-serif;
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
}
.Header_home_img{
    height: 27px;
    margin-right: 20px;
    cursor: pointer;

}
.Header_search_img{
    height: 27px;
    cursor: pointer;
    position: relative;
    top: 2px;   
}
.Child2{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Header_page{
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
}
.Child3{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Header_logout{
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}
.Dashboard_parent{
    width: 100%;
    min-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.Dash_child_conatiner{
    width: 80%;
    min-width: 1000px;
    display: block;
}
.Dash_child_top{
    display: flex;
    justify-content: center;
}
.User_container{
    width: 321px;
    height: 150px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
    display: flex;
}
.User_left{
    width: 150px;
    height: 100%;   
    box-sizing: border-box;
    padding: 10px;
    display: block;
}
.User_image {
    border: 3px solid #ff9770;
    width: 123px;
    display: block;
}
.User_right {
    width: calc(100% - 150px);
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.User_first_name{
    font-weight: 700;
    font-family: Open Sans,sans-serif;
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}
.User_last_name{
    font-weight: 700;
    font-family: Open Sans,sans-serif;
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}
.User__btn_edit{
    cursor: auto;
    text-decoration: underline; 
    height: 35px;
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% 0,#fff,#f1eceb);
    border: 1px solid #ccc3c3;
    cursor: pointer;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    width: 150px;
    font-size: 16px;
}
.Dashboard__onboarding-content-container {
    background-color: #fff;
    border-radius: 2px;
    
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
    width: 500px;
    height: 150px;
    
    display: flex;
    margin-left: 20px;
    
    box-sizing: border-box;
    padding: 15px;
}
.Dashboard__onboarding {
    width: 500px;
    height: 150px;
    
    display: flex;
    margin-left: 20px;
    
    box-sizing: border-box;
    padding: 15px;
}
.open-sans {
    font-weight: 400;
    font-family: Open Sans,sans-serif;
}
.Dashboard_recommended_parent{
    width: 100%;
    height: auto;
    min-height: 200px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.Dashboard__recommended_child {
    width: 841px;
    display: block;
}
.Dashboard__recommended_child-content-container {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
    width: 841px;
    display: block;
}
.Dashboard__recommended_header{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.Dashboard__recommended_header_span {
    font-size: 25px;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
}
.Dashboard__recommended_select_span {
    position: absolute;
    right: 148px;
    font-family: Open Sans,sans-serif;
    font-weight: 400
}
.Dashboard__recommended_select {
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    position: absolute;
    right: 10px;
    font-size: 18px;
    width: 130px;
}
select:not(:-internal-list-box) {
    overflow: visible !important;
}

select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}

select {
   
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
   
    border-image: initial;
}



input, textarea, select, button {
    text-rendering: auto;
    
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}

