.App {
  background-image: linear-gradient(99deg, #ff70a6, #ff9770 40%, #ffd670 73%, #e9ff70);
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.splashScreen{
  
  width: 496px;
  height: 392px;
 border-radius: 8px;
 background-image: linear-gradient(128deg, rgba(64,61,57,0.1), rgba(255,255,255,0.2));
 box-shadow: 0 14px 28px 0 rgba(0,0,0,0.25), 0 10px 10px 0 rgba(0,0,0,0.26);
 display:flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 
}

.loginButton{
  border-radius:3px;
  background-color: #403d39;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1) 0 1px 2px 0 rgba(0,0,0,0.2);
  width:275px;
  height:45px;
  color:white;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 20px;
}

.text {
  text-decoration: none;
}

.helo{
  font-family: 'Open Sans', sans-serif;
  color:white;
  font-size:80px;
  font-weight: 900;
  
}

.Auth__logo_img{
  width: 120px;
  margin-top: 34px;

}

